@model IEnumerable<CasoEstudio_CarlosRamirezReyes.Models.Usuarios>


<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <title>Lista Usuarios</title>

        <style>
            body {
                font-family: Arial, sans-serif;
                background-image: url('/images/bg-home.png');
                background-size: cover;
                background-position: center center;
                margin: 0;
                padding: 0x;
                min-height: 100vh;
            }

            .user-container {
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 8px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                padding: 45px;
                width: auto;
                text-align: left;
            }
        </style>

    </head>

    <body>
        <div class="user-container">
            <td>
                <a asp-action="Crear">Crear Usuario</a>
            </td>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UsuarioId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.NombreUsuario)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CorreoElectronico)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Contrasena)
                        </th>

                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => usuario.UsuarioId)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => usuario.NombreUsuario)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => usuario.CorreoElectronico)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => usuario.Contrasena)
                            </td>

                            <td>
                                <form asp-action="Eliminar" asp-route-id="@usuario.UsuarioId" method="post" onsubmit="return confirm('¿Seguro que desea eliminar este usuario?');">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@usuario.UsuarioId">Editar</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>

</html>

